* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----Variable Settings-----*/
$white: #FFF8EB;
$green: #7DCE94;
$darkGreen: #70b884;
$black: #3D3D3F;

/*-----Mixin Settings-----*/
@mixin container-default {
    display: grid;
}

body {
  background: $white;
}

#topMessage {
  h3 {
    background: rgba(0,0,0,.5);
    color: white;
    width: auto;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 5px;
    margin-top: 5px;
  }
  
}

.App {
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  max-width: 1366px;
  @media only screen and (max-width: 1400px) {
    width: 90%;
  }
  a {
    text-decoration: none;
  }
  #navbar {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 15px;
    margin-bottom: 30px;
    h1 {
      justify-self: start;
      font-size: 2.5em;
      color: $black;
      font-weight: 400;
      @media only screen and (max-width: 680px) {
        font-size: 2em;
      }
      @media only screen and (max-width: 450px) {
        font-size: 1.7em;
      }
      @media only screen and (max-width: 390px) {
        font-size: 1.3em;
      }
    }
    h2 {
      justify-self: end;
      font-size: 2em;
      font-weight: 400;
      transition: .25s all ease;
      cursor: pointer;
      @media only screen and (max-width: 680px) {
        font-size: 1.7em;
      }
      @media only screen and (max-width: 450px) {
        font-size: 1.2em;
      }
      a {
        color: $green;
        &:hover {
          color: $darkGreen;
        }
      }
      
    }
  }
  #hero {
    grid-column: 1 / 13;
    background-image: linear-gradient( rgba(0, 0, 0, .9), rgba(0, 0, 0, .9) ), url('./img/HeroBanner.jpg');
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    margin: 0 auto;
    h1 {
      color: white;
      font-size: 4em;
      grid-column: 1 / 4;
      margin: 15px 0;
      @media only screen and (max-width: 800px) {
        font-size: 3.5em;
      }
      @media only screen and (max-width: 680px) {
        font-size: 2.7em;
      }
    }
    #description {
      color: $white;
      grid-column: 1 / 3;
      @media only screen and (max-width: 800px) {
        grid-column: 1;
      }
      font-size: 1.5em;
      line-height: 1.3em;
      text-align: left;
      padding: 20px;
      p {
        margin-bottom: 10px;
      }
      @media only screen and (max-width: 800px) {
        font-size: 1.3em;
        margin-top: 0;
        padding-top: 0;
      }
      @media only screen and (max-width: 680px) {
        font-size: 1.1em;
        line-height: 1.5em;
      }
    }
    .bigTech {
      display: block;
      @media only screen and (max-width: 680px) {
        display: none;
      }
    }
    .smallTech {
      display: none;
      @media only screen and (max-width: 680px) {
        display: block;
        ul {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-gap: 0 20px;
          span {
            grid-column: 1 / -1;
            text-align: center;
          }
        }
      }
      @media only screen and (max-width: 460px) {
        ul {
          grid-template-columns: 1fr 1fr;
          grid-gap: 0 20px;
          span {
            grid-column: 1 / -1;
            text-align: center;
          }
        }
      }
    }
    #techStack {
      color: White;
      text-align: left;
      font-size: 1.5em;
      justify-self: center;
      @media only screen and (max-width: 800px) {
        font-size: 1.3em;
      }
      @media only screen and (max-width: 680px) {
        font-size: 1.1em;
        grid-column: 1;
      }
      ul {
        list-style-type: none;
        @media only screen and (max-width: 680px) {
          margin-bottom: 30px;
        }
        span {
          margin-bottom: 10px;
          display: block;
        }
        li {
          margin-left: 30px;
          margin-bottom: 5px;
          @media only screen and (max-width: 680px) {
            margin-left: 0;
          }
        }
      }
    }
    #heroButtons {
      grid-column: 1 / 13;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-bottom: 20px;
      button {
        display: block;
        justify-self: center;
        font-size: 1.5em;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        background: $green;
        transition: .2s all ease;
        &:hover {
          background: $darkGreen;
        }
        a {
          display: block;
          width: 100%;
          padding: 10px 30px;
          color: $black;
          text-decoration: none;
          transition: .2s all ease;
          @media only screen and (max-width: 680px) {
            padding: 10px 15px;
          }
          &:hover {
            color: $white;
          }
        }
      }
    }
  }
  #linkContainer {
    @include container-default;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 30px;
    margin-bottom: 50px;
    grid-gap: 50px;
    justify-items: center;
    @media only screen and (max-width: 1000px) {
      grid-template-columns: repeat(6, 1fr);
    }
    @media only screen and (max-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }
    h1 {
      font-size: 2.5em;
      font-weight: 400;
      grid-column: 1 / -1;
      @media only screen and (max-width: 500px) {
        font-size: 2em;
      }
      span {
        color: $green;
        font-weight: bold;
      }
    }
    .topRow {
      @media only screen and (max-width: 1000px) and (min-width: 751px) {
        grid-column: span 2;
      }
    }
    .bottomRow {
      @media only screen and (max-width: 1000px) and (min-width: 751px) {
        grid-column: span 3;
      }
    }
    a {
      text-decoration: none;
      .title {
        font-size: 2em;
        font-weight: 700;
        color: $black;
        transition: .25s all ease;
        @media only screen and (max-width: 1270px) {
          font-size: 1.7em;
        }
        @media only screen and (max-width: 1120px) and (min-width: 1001px) {
          font-size: 1.5em;
        }
      }
      .blurb {
        display: block;
        text-decoration: none;
        color: $green;
        transition: .25s all ease;
      }
      &:hover {
        .title {
          color: $green;
        }
        .blurb {
          color: $black;
        }
      }
    }
    .lastChild {
      @media only screen and (max-width: 750px) and (min-width: 501px) {
        grid-column: span 2;
      }
    }
  }
  #otherProjects {
    @include container-default;
    grid-template-columns: 1fr 1fr;
    @media only screen and (max-width: 800px) {
      grid-template-columns: 1fr;
    }
    justify-items: center;
    grid-gap: 30px;
    margin-bottom: 100px;
    h1 {
      grid-column: 1 / -1;
      font-weight: 400;
      color: $black;
      font-size: 2.5em;
      @media only screen and (max-width: 700px) {
        font-size: 2em;
      }
      @media only screen and (max-width: 550px) {
        font-size: 1.7em;
      }
      @media only screen and (max-width: 430px) {
        font-size: 1.5em;
      }
      span {
        font-weight: 700;
        color: $green;
        display: block;
      }
    }
    .project {
      width: 75%;
      // background: white;
      @media only screen and (max-width: 1000px) {
        width: 85%;
      }
      @media only screen and (max-width: 800px) {
        width: 75%;
      }
      @media only screen and (max-width: 500px) {
        width: 90%;
      }
      .projBackground {
        background: white;
        height: auto;
        padding-bottom: 20px;
      }
      img {
        width: 100%;
      }
      h3 {
        color: $green;
        font-size: 2em;
        font-weight: 400;
        @media only screen and (max-width: 800px) {
          font-size: 1.5em;
          padding: 0 5px;
        }
      }
      p {
        color: $black;
        text-align: left;
        padding: 20px;
        font-size: 1em;
        width: 90%;
        margin: 0 auto;
        line-height: 1.5em;
        @media only screen and (max-width: 800px) {
          font-size: 1.2em;
          line-height: 1.7em;
        }
      }
      .buttonGroup {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 10px;
        justify-items: center;
        button {
          border: none;
          display: block;
          border-radius: 5px;
          a {
            display: block;
            padding: 10px;
            font-size: 1.5em;
            text-decoration: none;
            @media only screen and (max-width: 450px) {
              font-size: 1.2em;
              // padding: 5px;
            }
          }
        }
        .github {
          background: $black;
          a {
            color: $white;
          }
        }
        .live {
          background: $green;
          transition: .25s all ease;
          a {
            color: $black;
            transition: .25s all ease;
          }
          &:hover {
            background: $darkGreen;
            a {
              color: $white;
            }
          }
        }
        .single {
          grid-column: 1 / 3;
        }
      }
    }
  }
  #bioContainer {
    @include container-default;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;
    margin-bottom: 100px;
    h1 {
      grid-column: 1 / 3;
      font-weight: 400;
      color: $black;
      font-size: 2.5em;
      span {
        font-weight: 700;
        color: $green;
        // display: block;
      }
    }
    #bioBody {
      grid-column: 1 / 3;
      width: 80%;
      margin: 0 auto;
      p {
        text-align: left;
        font-size: 1.5em;
        line-height: 1.5em;
        padding: 10px;
      }
    }
  }
  #contactContainer {
    @include container-default;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 30px;
    margin-bottom: 100px;
    @media only screen and (max-width: 450px) {
      grid-template-columns: 1fr;
    }
    h1 {
      grid-column: 1 / -1;
      font-weight: 400;
      color: $black;
      font-size: 2.5em;
      span {
        font-weight: 700;
        color: $green;
        font-size: 1.5em;
        display: block;
      }
    }
    #contactTitle {
      @media only screen and (max-width: 800px) {
        font-size: 2em;
      }
      @media only screen and (max-width: 525px) {
        font-size: 1.75em;
      }
    }
    h2 {
      grid-column: 1 / -1;
      font-weight: 400;
      color: $black;
      font-size: 2em;
      span {
        font-weight: 700;
        color: $green;
        font-size: 1.2em;
      }
    }
    #responseText {
      font-size: 1.5em;
      padding: 20px;
      border-radius: 20px;
      margin-top: -20px;
    }
    .hideResponse {
      display: none;
    }
    .bad {
      color: rgba(236, 16, 16, 0.795);
    }
    .good {
      color: $green;
    }
    #otherEmail {
    grid-column: 1 / -1;
    text-align: center;
    
    }
    form {
      width: 70%;
      margin: 0 auto;
      grid-column: 1 / -1;
      @media only screen and (max-width: 800px) {
        width: 80%;
      }
      @media only screen and (max-width: 525px) {
        width: 95%;
      }
      label {
        display: block;
        text-align: left;
        margin-left: 10px;
        font-size: 2em;
        @media only screen and (max-width: 800px) {
          font-size: 1.75em;
        }
        @media only screen and (max-width: 525px) {
          font-size: 1.5em;
        }
      }
      input, textarea {
        display: block;
        width: 100%;
        font-size: 1.75em;
        border-radius: 15px;
        background: $black;
        color: $white;
        padding: 15px;
        font-weight: 300;
        font-family: 'Quicksand';
        &:focus {
          border: none;
          outline: none;
        }
        @media only screen and (max-width: 800px) {
          font-size: 1.5em;
          padding: 10px;
        }
        @media only screen and (max-width: 525px) {
          font-size: 1.25em;
        }
      }
      textarea {
        resize: vertical;
        min-height: 200px;
        margin-bottom: 25px;
      }
      button {
        background: $darkGreen;
        color: $white;
        border-radius: 15px;
        border: none;
        font-size: 2em;
        padding: 10px 25px;
        cursor: pointer;
        transition: .25s all ease;
        font-family: 'Quicksand';
        &:hover {
          background: $green;
        }
      }
    }
    h3 {
      font-weight: 400;
      a {
        color: $darkGreen;
      }
    }
  }
  #footerContainer {
    padding-bottom: 15px;
  }
}